@model git2ftp_mvc5.Models.git2ftp_Projects

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>git2ftp_Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FTPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTPUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTPUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTPPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTPPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitApiKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitApiKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitRepositoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitRepositoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.git2ftp_Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.git2ftp_Users.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
